<section class="content">
    <h1><%=manga.title%></h1>
    <% if manga.cover.attached?%>
        <%= image_tag manga.cover, width: 120%>
    <%end%>
    <p>Volume: <%=link_to manga.writer.name, writer_path(manga.writer.id)%></p>
    <p>Genres: <%=manga.list_genres%></p>
    <p><%=number_to_currency manga.price%></p>
    <p>
        <%= link_to "Buy Now", new_order_path(manga_id: manga.id) %> |
        <%= link_to "Edit", edit_manga_path(manga) %> |
        <%= link_to "Delete", manga_path(manga), method: :delete, data: { confirm: "Are you sure?"} %>
    </p>
</section>