<h1>Add Manga</h1>

<%= form_with model: @manga do |form|%>
    <div class="p-2">
        <%=form.label :title%>
        <%=form.text_field :title, required:true%>
    </div>
    <div class="p-2">
        <%=form.label :genres%>
        <%=form.collection_check_boxes :genres, Genre.order(:name), :id, :name %>
    </div>
    <h2>Writer:</h2>
    <div class="p-2">
        <%=form.collection_select :writer, Writer.order(:last_name), :id, :name%>
    </div>
    <%=form.fields_for :writer do |writer_form|%>
        <div class="p-2">
            <%=writer_form.label :first_name%>
            <%=writer_form.text_field :first_name%>
        </div>
        <div class="p-2">
            <%=writer_form.label :last_name%>
            <%=writer_form.text_field :last_name%>
        </div>
    <%end%>
    <%=form.submit "Add Manga"%>
<%end%>